<div class="card user-list">
    <h2 [style.marginBottom.rem]="1">USER LIST</h2>
    <table class="table">
        <thead>
            <tr>
                <th *ngFor="let header of headerTable;" scope="col">{{header}}</th>
                <th [style.width.px]="1"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of dataSource; let i = index">
                <th scope="row">{{user.id}}</th>
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.country}}</td>
                <td class="edit-button">
                    <button type="button" (click)="edit(user.id)" class="btn btn-outline-primary">{{user.canEdit? 'Edit'
                        : 'Detail'}}</button>
                    <button [style.marginLeft.px]="10" type="button" (click)="delete(user.id)"
                        class="btn btn-outline-danger" [disabled]="!dataSource[i].canDelete">Delete</button>
                </td>

            </tr>
        </tbody>
    </table>
</div>