<div class="card user-list">
    <h2 [style.marginBottom.rem]="1">USER LIST</h2>
    <table class="table">
        <thead>
            <tr>
                <th *ngFor="let header of headerTable;" scope="col">{{header}}</th>
                <th [style.width.px]="1"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of dataSource;">
                <th scope="row">{{user.id}}</th>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.country}}</td>
                <td class="edit-button">
                    <button type="button" (click)="edit()" class="btn btn-outline-primary">Edit</button>
                    <button [style.marginLeft.px]="10" type="button" (click)="delete(user.id)"
                        class="btn btn-outline-danger">Delete</button>
                </td>

            </tr>
        </tbody>
    </table>
</div>