<div class="main-content">
    <form [formGroup]="userFormGroup" class="card form-card">
        <h2 [style.marginBottom.rem]="2">USER DETAIL</h2>
        <div class="flex-row">
            <div class="flex-column">
                <label class="form-label required">Firstname</label>
                <input class="form-control" formControlName="firstname">
                <div *ngIf="checkError('firstname')" class="warning"></div>
            </div>
            <div class="flex-column">
                <label class="form-label required">Lastname</label>
                <input formControlName="lastname" class="form-control">
                <div *ngIf="checkError('lastname')" class="warning"></div>
            </div>
            <div class="flex-column">
                <label class="form-label required">Country</label>
                <input formControlName="country" class="form-control">
                <div *ngIf="checkError('country')" class="warning"></div>
            </div>
        </div>

        <div class="flex-row">
            <div [style.width.%]="50" class="flex-column">
                <label class="form-label">CitizenID</label>
                <input formControlName="citizenID" class="form-control">
                <div *ngIf="checkError('citizenID')" class="warning"></div>
            </div>
            <div [style.width.%]="50" class="flex-column">
                <label class="form-label">PhoneNumber</label>
                <input formControlName="phoneNumber" class="form-control">
                <div *ngIf="checkError('phoneNumber')" class="warning"></div>
            </div>
        </div>
        <div class="flex-row">
            <div [style.width.%]="100" class="flex-column">
                <label class="form-label">Address</label>
                <textarea formControlName="address" class="form-control" rows="3"></textarea>
            </div>
        </div>
        <div class="flex-row">
            <div class="flex-column">
                <label class="form-label">Career</label>
                <input formControlName="career" class="form-control">
            </div>
            <div class="flex-column">
                <label class="form-label">Salary</label>
                <input formControlName="salary" class="form-control">
                <div *ngIf="checkError('salary')" class="warning"></div>
            </div>
        </div>
        <div class="check-list">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" [checked]="!canEdit" (change)="changeStatus('canEdit')">
                <label class=" form-check-label">
                    cannot update user
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" [checked]="!canDelete"
                    (change)="changeStatus('canDelete')">
                <label class="form-check-label">
                    cannot delete user
                </label>
            </div>
        </div>
        <div class="button-row">
            <button type="button" (click)="navigateBack()" class="btn btn-outline-success my-btn">Back</button>
            <button type="button" (click)="submit()" class="btn btn-success my-btn"
                [disabled]="userFormGroup.invalid">Save</button>
        </div>
    </form>
</div>