.main-content {
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.form-card {
    width: 80vw;
    padding: 2rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    width: 33%;
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.form-check-input:checked {
    background-color: red !important;
    border-color: red !important;
}

.my-btn {
    margin-left: 10px;
    width: 10%;
}

.check-list {
    margin-top: 1rem;
}